*{ margin :0; padding: 0; }
        .hide{ display: none; }
        .car, .enemy { 
            width: 50px; height : 70px; background: red;
            position: absolute;
            bottom :120px; }
        .lines{
            width: 10px;
            height:100px;
            background:white;
            position: absolute;
            margin-left: 195px ;
        }
        .gameArea{
            background-image: url("/media/desktop.png");
            background-position: center;
            width: 400px;
            height: 100vh;
            margin: auto;
            position: absolute;
}

body{
    height: 100hv;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 21%, rgba(253,187,45,1) 86%);
    overflow: hidden; /* hide scrollbar*/
}