*{ margin :0; padding: 0; }
        .hide{ display: none; }
        .car, .enemy { 
            width: 50px; height : 70px; background: red;
            position: absolute;
            bottom :120px; }
        .lines{
            width: 10px;
            height:100px;
            background:white;
            position: absolute;
            margin-left: 195px ;
        }
        .gameArea{
            width: 400px;
            height: 100vh;
            background: #1e272e;
            margin: auto;
            position: relative;
}